body {
  background-image: url("summer-winter-concepts-seasons-nature-ecology-seasons-concepts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  padding: 10px;
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: rgb(124, 195, 243);
  border-radius: 10px;
}

form,
form .city {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
form .city {
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
}
p.date {
  text-align: center;
}
.text-left .col .row {
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: 600;
}
.text-center .col {
  font-size: 25px;
}
.container {
  display: block;
  margin-top: 50px;
  width: min-content;
  padding: 80px;
  background-color: rgb(209, 240, 238);
  border-radius: 20px;
  font-family: "Fredoka One", cursive;
  font-family: "Tilt Neon", cursive;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
  opacity: 93%;
}

button#location {
  display: block;
  margin: 0 auto;
  color: white;
  background: black;
  border-radius: 10px;
  padding: 10px;
}
p.userCity,
span#temp,
span.units {
  color: black;
}
div.coder {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 50px;
}
a {
  color: white;
}
div.container .wind {
  background-color: rgb(124, 195, 243);
  box-shadow: none;
  margin: 0;
  color: black;
  font-size: 25px;
}
div#feels.col,
div#wind.col,
div#humidity.col {
  margin: 15px;
  display: block;
}

span.units {
  display: inline-block;
  font-size: 20px;
}
span.units:hover {
  cursor: pointer;
}
